:root {
  --color1: #101271;
  --color2: #02051F;
  --color3: #FD0075;
  --color4: #FAABF1;
  --color5: #FEF7A5;
}

.light {
  background-color: var(--color5);
  box-shadow: 0 0 5px var(--color1);
  color: var(--color1);
}

.light a {
  color: var(--color3);
  text-decoration: none;
  font-weight: bold;
}