.product-card {
  height: 400px;
  width: 250px;
  box-shadow: 0 0 5px #999;
  border-radius: 10px;
  text-decoration: none;
}

.product-card-uppersection {
  height: 200px;
  display: flex;
  align-items: center;
}
.product-card-lowersection {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-card-img {
  max-height: 200px;
  width: 100%;
}
